@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300);

body {
	background-color: rgba(80, 123, 173, 1); 
	color: rgb(245, 245, 245);
	font-family: "Open Sans Condensed", sans-serif;
	margin: 0px auto auto;
}

#page {
	max-width: 800px;
	margin: 0px auto 20px;
}

#main {
	background-color: rgba(44, 44, 44, 0.5); 
	margin: auto auto;
	padding: 70px 0px 30px;
}

#title {
	text-align: center;
	font-family: "Josefin Sans", sans-serif;
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 50px; 
}
#logo-wrap {
	text-align: center; 
	margin-bottom: 90px; 
}

#logo {
	width: 250px;
}

#footer {
	background-color: rgba(44, 44, 44, 0.5); 
	margin: 2px auto 0px;
	padding: 30px;
}

.text {
	padding: 0px 100px;
	font-size: 19px;
	text-align: justify;
	text-justify: inter-word;
}

.text h3 {
	font-size: 20px;
}

.faqs {
	padding: 0px 0px 20px;
}

.faq h3 {
	cursor: pointer;
}

.faq p {
	display: none;
}

.faq.show p {
	display: block;
}

#social {
	text-align: center;
	margin-top: 05px;
}

#social .icon {
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	width: 35px;
	height: 35px;
	background-color: rgb(5,5,5);	
	border-radius: 50%;
	line-height: 35px;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
}
#social .icon:link {
	color: rgb(245, 245, 245);
}
#social .icon:visited {
	color: rgb(245, 245, 245);
}
#social .icon:hover {
	background-color: rgb(245, 245, 245);
	color: rgb(5, 5, 5);
}
#social .icon:active {
	color: rgb(5, 5, 5);
}

.footer-logo {
	width: 49%;
	display: inline-block;
	text-align: center;
	margin-bottom: 35px; 
}

.footer-logo img {
	max-width: 80%;
	max-height: 70px;
	vertical-align: middle;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

a:link {
	color: rgb(101, 174, 231) ;
	text-decoration: none;
}
a:visited {
	color: rgb(90, 156, 207);
}
a:hover {
	color: rgb(255, 255, 255);
}
a:active {
	color: rgb(245, 245, 245);
}

#credit {
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-size: 12px;
	margin-top: 26px;
}

hr {
	border-style: solid;
	border-top: 1px;
	color: lightgray;
}

/* slideshow */

p#cf7_controls {
	text-align: center;
	margin: auto;
	width: 500px;
}

#cf7_controls span {
	padding-right: 1.5em;
	cursor: pointer;
	font-size: 17px;
}

#cf7 {
	position:relative;
	height: 450px;
	margin:0 auto 10px;
	overflow: hidden;
}

#cf7 img {
	height:450px;
	top:-9999px;
	bottom:-9999px;
	left:-9999px;
	right:-9999px;
	margin:auto;
	position:absolute;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#cf7 img.opaque {
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=1);
}
		
@-webkit-keyframes cf7FadeInOut {
	0% {
		opacity:1;
	}
	45% {
		opacity:1;
	}
	55% {
		opacity:0;
	}
	100% {
		opacity:0;
	}
}

/*
#cf7 img.top {
	-webkit-animation-name: cf7FadeInOut;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 10s;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}
*/

#cf7_controls span.selected{
	font-weight: bold;
}


/* menu */

.menu_simple {
	width: 800px;
    background-color: rgb(44, 44, 44);
	z-index: 2;
	text-align: center;
}

.menu_simple ul {
    margin: 0px auto;
	padding: 0px;
}

.menu_simple ul li {
    display: inline-block;
	vertical-align: middle;
}

.menu_simple ul li a {
    float: left; text-decoration: none;
    color: white; 
    padding: 13px 11px;
    background-color:  rgb(44, 44, 44);
}
	 
.menu_simple ul li a:visited {
    color: white;
}
	 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: rgb(20, 20, 20);
}
